

/* ---------- header properties ---------- */

p.mainHeader {
  padding: 0.05in;
  border-style: groove;
  border-width: 0.1in;
  font-family: Arial, Helvetica, sans-serif;
}

span.head {
  font-size: 1.6em;
  font-weight: bold;
}

span.subhead {
  font-size: 1em;
  font-weight: bold;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- default colors ---------- */

body {
  background-color: #FFFFFF;
}

.newWord {
  color: #CC0000;
}

s {
  background-color: #FF0000;
}

.insertion, .correction {
  background-color: #66FF66;
}

.important {
  color: #CC0000;
}

.command {
  color: #000000;
}

table, th, td {
  border-color: #000000;}

table {
  background-color: #FFF;
}

table.announce {
  background-color: #FFFFFF;
  border-color: #CC0033;
}

table.announce th {
  background-color: #FF3333;
}

.error {
  background-color: #FF0000;
}

s {
  background-color: #FF0000;
}

.insertion, .correction {
  background-color: #66FF66;
}

/* ---------- page body, general ---------- */

.indent {
  margin-left: 40px;
}

.command {
  font-family: "Bitstream Vera Sans Mono", Monaco,
                 "Lucida Console", monospace;
  font-weight: bold;
}

.indent {
	margin-left: 3em;
}

strong.stronger {
  font-size: 120%;
}

/* ---------- table properties ---------- */

table, th, td {
  border-style: solid;
  border-width: 1px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 0;
  margin-right: 0;
}

td, th {
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-top: 2px;
  padding-bottom: 2px;
}

th {
  font-family: Arial, Helvetica, sans-serif;
  border-width: 2px;
}

/* ---------- table for ANNOUNCEMENTS ---------- */

table.announce {
  width: 100%;
  border-style: solid;
  border-width: 4px;
}


/* ---------- table for LAYOUT properties ---------- */

td.layout, table.layout, .layout {
  border-collapse:collapse;
  border:none;
  border:#FFF;
}

/* ---------- lists ---------- */

li {
  margin-top: 3px;
}

dl {
  margin-left: 40px;
}

dt {
  margin-top: 15px;
}

/* ---------- code ---------- */

code i, code em, i code, em code {
  font-family: "Times New Roman", Times, serif;
}

code.multiline pre, pre code.multiline {
  display: block;
  border: 1px;  
  margin-left: 0.25in;
  margin-right: 0.25in;
  padding: 4px;
  overflow: hidden;
}

pre, code, kbd, samp, tt{
  font-family: Inconsolata, Consolas, Monaco, monospace,monospace;
  font-size:1em;
}
